<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/resume/">Resume</a></li>
                <li><a href="/math/">Mathematics</a></li>
                <!-- <li><a href="/blog/">Blog</a></li> -->
            </ul>
        </nav>
        <div class="container">{{ content }}</div>
        <!-- /.container -->
        <footer>
            <ul>
                <li><a href="https://github.com/erniefontes">github</a></li>
                <li>
                    <a href="https://www.linkedin.com/in/ernieefontes/"
                        >linkedin</a
                    >
                </li>
                <li>
                    <a href="https://www.instagram.com/erniefontes/"
                        >instagram</a
                    >
                </li>
                <li><a href="https://www.facebook.com/efontes">facebook</a></li>
                <li>
                    <a
                        href="https://open.spotify.com/user/rhnyajcbslxmq1gsdb5m3ay05"
                        >spotify</a
                    >
                </li>
            </ul>
        </footer>
    </body>
</html>
